@font-face {
  font-family: 'orbit';
  src: url('../fonts/Orbit-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'orbit';
}

.logo {
  font-family: 'orbit';
  color: white;
  display: inline-block;
  position: absolute;
  top: 10px; /* Adjust this value for more spacing */
  left: 50%;
  transform: translateX(-50%); /* Center it horizontally */
  font-weight: 80; /* Lighter weight, you can adjust this value */
}

.brackets {
  display: inline-block;
  text-align: left;
  margin-right: 8px;
}

.cipher, .stacker {
  display: inline-block;
}

.logo br {
  margin-bottom: 5px;
}
