/* index.css */
html, body {
  height: 100%;
  margin: 0;
}

/* App container */
.app-container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* This stacks elements vertically */
  align-items: center;    /* Horizontally centers elements */
  justify-content: center; /* Vertically centers elements */

  /* Add background image */
  background-image: url('../public/images/background.png'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the whole screen */
  background-position: center; /* Moves the image 50px more to the right */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed during scrolling */
}